<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About recipes web</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">This is an amazing colection of all the recipe dishes that are famous all round the world. this web is bulid to help make your cooking Easier</p>
    </div>
  </div>
  